<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.pet.repository.admin.CommunityBoardAdminMapper">

    <resultMap id="UserResultMap" type="com.project.pet.entity.user.User">
        <id property="userId" column="user_id" />
        <result property="username" column="user_username" />
        <result property="password" column="user_password" />
        <result property="name" column="user_name" />
        <result property="address" column="user_address" />
        <result property="telNumber" column="user_tel_number" />
        <result property="nickname" column="user_nickname" />
        <result property="email" column="user_email" />
        <result property="profileImageUrl" column="user_profile_image_url" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <collection property="roleRegisters" javaType="list" />
    </resultMap>

    <resultMap id="CommunityBoardAdminResultMap" type="com.project.pet.entity.communityBoard.CommunityBoardAdmin" >
        <id property="communityBoardAdminId" column="community_board_admin_id" />
        <result property="communityBoardAdminTitle" column="community_board_admin_title" />
        <result property="communityBoardAdminContent" column="community_board_admin_content" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <association property="user" resultMap="UserResultMap" />
    </resultMap>

    <insert id="postCommunityBoardAdmin"
            parameterType="com.project.pet.entity.communityBoard.CommunityBoardAdmin"
    >
        insert into
            community_board_admin_tb
        values
            (0, #{userId}, #{communityBoardAdminTitle}, #{communityBoardAdminContent}, now(), now())
    </insert>

    <select id="getCommunityBoardAdminByBoardId"
            parameterType="integer"
            resultMap="CommunityBoardAdminResultMap">
        select
            cbat.community_board_admin_id,
            ut.user_id,
            cbat.community_board_admin_title,
            cbat.community_board_admin_content,
            cbat.create_date,
            cbat.update_date
        from
            community_board_admin_tb cbat
            left outer join user_tb ut on (ut.user_id = cbat.user_id)
        where
            community_board_admin_id = #{communityBoardAdminId}
    </select>

    <select id="getCommunityBoardsAdmin"
            resultMap="CommunityBoardAdminResultMap">
        select
            cbat.community_board_admin_id,
            ut.user_id,
            cbat.community_board_admin_title,
            cbat.community_board_admin_content,
            cbat.create_date,
            cbat.update_date
        from
            community_board_admin_tb cbat
            left outer join user_tb ut on (ut.user_id = cbat.user_id)
    </select>

    <delete id="deleteCommunityBoardAdminByBoardId"
            parameterType="integer" >
        delete
        from
            community_board_admin_tb
        where
            community_board_admin_id = #{boardAdminId}
    </delete>

    <delete id="deleteCommunityAdminBoards"
            parameterType="list" >
        delete
        from
            community_board_admin_tb
        where
            community_board_admin_id in (
            <foreach collection="boardAdminIds" item="boardAdminId" separator=",">
                #{communityBoardAdminId}
            </foreach>
        )

    </delete>

    <update id="putCommunityAdminBoard"
            parameterType="com.project.pet.entity.communityBoard.CommunityBoardAdmin">
        update
            community_board_admin_tb
        set
            community_board_admin_title = #{communityBoardAdminTitle},
            community_board_admin_content = #{communityBoardAdminContent},
            update_date = now()
        where
            community_board_admin_id = #{communityBoardAdminId}
    </update>

</mapper>
